<a href="https://colab.research.google.com/github/ekkalaks/CS652_Applied-Machine-Learning/blob/main/CS652_Python_for_ML_22_01_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [2]:
import numpy as np
x = np.array([[1, 2, 3], [4, 5, 6]]) 
print("x:\n{}".format(x))

x:
[[1 2 3]
 [4 5 6]]

In [4]:
import pandas as pd
data = {'Name': ["John", "Anna", "Peter", "Linda"],
        'Location' : ["New York", "Paris", "Berlin", "London"],
        'Age' : [24, 13, 53, 33] }
data_pandas = pd.DataFrame(data)
# Select all rows that have an age column greater than 30
display(data_pandas[data_pandas.Age > 30])

    Name Location  Age
2  Peter   Berlin   53
3  Linda   London   33

In [5]:
import sys
print("Python version: {}".format(sys.version))
import pandas as pd
print("pandas version: {}".format(pd.__version__))
import matplotlib
print("matplotlib version: {}".format(matplotlib.__version__))
import numpy as np
print("NumPy version: {}".format(np.__version__))
import scipy as sp
print("SciPy version: {}".format(sp.__version__))
import IPython
print("IPython version: {}".format(IPython.__version__))
import sklearn
print("scikit-learn version: {}".format(sklearn.__version__))

Python version: 3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]
pandas version: 1.1.5
matplotlib version: 3.2.2
NumPy version: 1.19.5
SciPy version: 1.4.1
IPython version: 5.5.0
scikit-learn version: 1.0.2